<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Instagram風サイト練習</title>
</head>
<body>

<section class="main">
<div class="container">
   <div class="row"> 
<div class="col-md-6 col-sm-12" >
<h2>Instagram風サイト</h2>
  <p>Instagramのようなサイトを練習作成するためのページです。</p>
  <p>サイトトップページです。</p> 
</div>

<div class="col-md-6 col-sm-12" >
  <img src="<%= asset_path "Louvre.jpg" %>" >
</div>
</div>
</section>
</div>
</body>


</html>
