<h1>Achieveにお問合せいただき有難うございました！</h1>

<h4>name: <%= @contact.name %></h4>
<p>email: <%= @contact.email %></p>
<p>content: <%= @contact.content %></p>

<p>
  <%= link_to '投稿された問い合わせはこちら', contacts_url %>
</p>